{
  "openapi": "3.1.0",
  "info": {
    "title": "ExtractPDF",
    "version": "1.0.0",
    "description": "Pay-per-use PDF and document extraction API for AI agents. Extract clean text from any PDF or DOCX at $0.005 USDC per call. No API key, no subscription, no account needed.",
    "contact": {
      "url": "https://www.extractpdf.xyz",
      "email": "artespraticas@gmail.com"
    },
    "x-guidance": "Call POST /api/extract with JSON body {\"url\": \"<public PDF or DOCX URL>\"}. Pay $0.005 USDC via x402 (attach signed payment to X-PAYMENT header or PAYMENT-REQUIRED). Returns: text (string, up to 50k chars), pages (int, PDF only), chars (int), title (string), author (string), format (pdf|docx|text), extracted_at (ISO datetime). Use this when you need to read a PDF or Word document from a URL. Supported chains: Base, Arc, Polygon.",
    "x-logo": {
      "url": "https://extractpdf.xyz/logo.png"
    }
  },
  "servers": [
    { "url": "https://www.extractpdf.xyz", "description": "Production" }
  ],
  "x-payment-info": {
    "protocols": ["x402", "mpp"],
    "price": "0.005",
    "currency": "USD",
    "networks": ["eip155:8453", "eip155:5042", "eip155:137"],
    "payTo": "WALLET_ADDRESS_ENV"
  },
  "paths": {
    "/api/extract": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Service health and info",
        "description": "Returns service status, supported formats, and pricing.",
        "x-auth-mode": "none",
        "responses": {
          "200": {
            "description": "Service info",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceInfo" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "extractDocument",
        "summary": "Extract text from a PDF or DOCX document",
        "description": "Fetches the document at the given URL and returns extracted plain text, page count, author, and title. Supports PDF and DOCX. Payment of $0.005 USDC required via x402 X-PAYMENT header.",
        "x-payment": {
          "required": true,
          "amount": "0.005",
          "currency": "USD",
          "networks": ["eip155:8453", "eip155:5042", "eip155:137"]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ExtractRequest" },
              "examples": {
                "pdf": {
                  "summary": "Extract a PDF",
                  "value": { "url": "https://www.w3.org/WAI/WCAG21/wcag21.pdf" }
                },
                "docx": {
                  "summary": "Extract a DOCX",
                  "value": { "url": "https://example.com/report.docx" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracted document content",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ExtractResponse" }
              }
            }
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentRequired" }
              }
            }
          },
          "422": {
            "description": "Could not fetch the document"
          },
          "500": {
            "description": "Extraction failed"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ExtractRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Public URL of a PDF or DOCX document"
          },
          "pages": {
            "type": "string",
            "description": "Optional page range e.g. '1-5' or 'all' (default: all)"
          }
        }
      },
      "ExtractResponse": {
        "type": "object",
        "required": ["url", "text", "chars", "format", "extracted_at"],
        "properties": {
          "url": { "type": "string" },
          "text": { "type": "string", "description": "Extracted plain text (up to 50,000 chars)" },
          "pages": { "type": "number", "description": "Total page count (PDF only)" },
          "chars": { "type": "number" },
          "title": { "type": "string" },
          "author": { "type": "string" },
          "format": { "type": "string", "enum": ["pdf", "docx", "text"] },
          "extracted_at": { "type": "string", "format": "date-time" }
        }
      },
      "ServiceInfo": {
        "type": "object",
        "properties": {
          "service": { "type": "string" },
          "description": { "type": "string" },
          "price": { "type": "string" },
          "endpoint": { "type": "string" },
          "accepts_formats": { "type": "array", "items": { "type": "string" } },
          "chains": { "type": "array", "items": { "type": "string" } },
          "docs": { "type": "string" }
        }
      },
      "PaymentRequired": {
        "type": "object",
        "properties": {
          "x402Version": { "type": "number" },
          "error": { "type": "string" },
          "resource": {
            "type": "object",
            "properties": {
              "url": { "type": "string" },
              "description": { "type": "string" },
              "mimeType": { "type": "string" }
            }
          },
          "accepts": { "type": "array" }
        }
      }
    }
  }
}
